
    
    <!--<form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$touched && form.firstName.$error.required }">
            <label for="username">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
            <span ng-show="form.firstName.$touched && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="username">Last name</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="vm.user.lastName" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/login" class="btn btn-link">Cancel</a>
        </div>
    </form>-->

<div layout="column" ng-cloak="" class="inputdemoErrors">
    <h2 class="login text-center">Register</h2>
    <md-content layout-padding="">
        <form class="main-form" name="form" ng-submit="vm.register()" role="form">

            <div class="warning-summary padd-v10" ng-if="flash" ng-bind="flash.message"></div>
            <ul class="warning-summary" ng-show="form.firstName.$touched && form.firstName.$error.required || form.lastName.$touched && form.lastName.$error.required || form.clientEmail.$touched && form.clientEmail.$error.required || form.password.$touched && form.password.$error.required">
                <li class="warning-summary-item help-block" ng-show="form.firstName.$touched && form.firstName.$error.required">first name is required</li>
                <li class="warning-summary-item help-block" ng-show="form.lastName.$touched && form.lastName.$error.required">last name is required</li>
                <li class="warning-summary-item help-block" ng-show="form.clientEmail.$touched && form.clientEmail.$error.required">E-mail address is required</li>
                <li class="warning-summary-item help-block" ng-show="form.password.$touched && form.password.$error.required">password is required</li>

            </ul>
            <md-input-container class="md-block">
                <label>First Name</label>
                <input required="" name="firstName" ng-model="vm.user.firstName">
                <div ng-messages="form.firstName.$error" role="alert">
                    <div ng-message-exp="['required']">
                        First name is required
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Last Name</label>
                <input required="" name="lastName" ng-model="vm.user.lastName">
                <div ng-messages="form.lastName.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Last name is required
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>E-mail address</label>
                <input required="" type="email" name="clientEmail" ng-model="vm.user.clientEmail" ng-pattern="/^.+@.+\..+$/">
                <div ng-messages="form.clientEmail.$error" role="alert">
                    <div ng-message-exp="['pattern']">
                        Your e-mail must look like an e-mail address.
                    </div>
                    <div ng-message-exp="['required']">
                        E-mail address is required.
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input required="" type="password" name="password" ng-model="vm.user.password" minlength="4">

                <div ng-messages="form.password.$error" role="alert">
                    <div ng-message-exp="['minlength']">
                        please enter at least 4 letters or numbers
                    </div>
                    <div ng-message-exp="['required']">
                        Password is required
                    </div>
                </div>
            </md-input-container>
            <div>
                <md-button type="submit" ng-disabled="form.$invalid || vm.dataLoading">Register</md-button>
                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />


            </div>

        </form>

    </md-content>
    <div class="new-user text-center">Have an account? <a class="form-links" href="#!/login">navigate to login page</a></div>
</div>
